body {
    background-color: rgba(0, 0, 0, 0.2);
}

.button {
    border-radius: 50% !important;
    font-size: 1.5em;
    background-color: lightgrey;
}

#switches {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 60px;
    margin-top: 110px;
}
.text1 {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 30px;
    margin-top: 142px;
}

.text1 span:last-child {
    padding-left: 70px;
}

.text2 {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    margin-left: 95px;
    margin-top: 197px;
}

#title {
    position: absolute;
    font-family: 'Original Surfer', cursive;
    font-size: 40px;
    margin-left: 35px;
    margin-top: 40px;
}

#turn {
    border: 1px solid black;
    position: absolute;
    background: #330000;
    color: red;
    font-family: courier;
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin-left: 100px;
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

#outer-circle {
    background-color: black;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    margin: auto;
    margin-top: 60px;
    box-shadow: 0 0 20px 5px #888;
    padding: 10px;
}

.simon-button {
    position: absolute;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    box-sizing: border-box;
}

#topleft {
    border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px, 0 0 0;
    background: darkgreen;
}

#topright {
    border-radius: 0 250px 0 0;
    background: darkred;
    left: 50%;
}

#bottomleft {
    border-radius: 0 0px 0px 250px;
    background: goldenrod;
    top: 50%;
}

#bottomright {
    border-radius: 0 0px 250px 0px;
    background: darkblue;
    top: 50%;
    left: 50%;
}

#inner-circle {
    background: gray;
    border-radius: 50%;
    top: 25%;
    left: 25%;
}
